<head>
  <title>Homebreaker</title>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="spacegarbagewarrior2988"></div>
  <script src="javascripts/phaser.min.js"></script>
  <script src="javascripts/game.js"></script>
</body>
</html>
